@import '~src/assets/scss/variables';

.empty-state {
  margin-bottom: 4em;
  color: $light-secondary-text;
  text-align: center;

  .illustration {
    margin: auto;
    margin-bottom: 0.5em;
    width: 14em;
    height: 8.5em;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    &.documents {
      background-image: url('~src/assets/images/no_documents.svg');
    }

    &.box {
      background-image: url('~src/assets/images/no_operations.svg');
    }

    &.thumbs-up {
      background-image: url('~src/assets/images/no_constats.svg');
    }

    &.comments {
      background-image: url('~src/assets/images/no_comments.svg');
    }

    &.unaccessible {
      background-image: url('~src/assets/images/no_resource.svg');
    }
  }
}
